[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
rustworkx = "*"
geopandas = "*"
numpy = "*"
matplotlib = "*"
networkx = "*"
contextily = "*"
fastapi = "*"
uvicorn = "*"
osmnx = "*"
overpy = "*"
pydantic = "*"
websockets = "*"

[dev-packages]

[requires]
python_version = "3.11"
